.venv
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
node_modules
*.DS_Store
*.bak
*.idea
/.obsidian/
/.quarto/
/data/
/prez/
/_freeze/
/_site/
#docs
node_modules/
.next/
out/
content/
.Rproj.user
.Rhistory
posts/12_fcc-data/
_targets/

/*.md
CLAUDE.md
